<header class="p-3 bg-light text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">


            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">
                        <h3>Admin Panel</h3>
                    </a></li>

            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="/admin/searchUser" method="Post">
                <input style="margin-top: 10px;" name="name" type="search" class="form-control form-control-dark"
                    placeholder="Search User..." aria-label="Search">
            </form>

            <div class="text-end">

                <a href="/admin/logout"><button type="button" class="btn btn-warning">Sign-out</button></a>
            </div>
        </div>
    </div>
</header>



<div class="container-fluid ">
    <div class="" style="margin-top:150px">
        <div class="rounded d-flex justify-content-center">
            <div class=" col-md-4 col-sm-12 shadow-lg p-5 bg-light" style="width: auto;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}
                        <tr>
                            <th scope="row"></th>
                            <td>{{name}}</td>
                            <td>{{email}}</td>
                            <td>{{number}}</td>
                            <td> <a href="#" class="btn-sm btn-primary  edit-btn" data-bs-toggle="modal" data-bs-target="#modalLoginForm"
                                    data-user-id="{{_id}}">Edit</a></td>
                            <td><a class="btn-sm btn-primary" href="/admin/delete/{{_id}}">Delete</a></td>
                        </tr>
                        {{/each}}

                    </tbody>

                </table>
                {{#if msg}}
                <p>{{msg}}</p>

                {{/if}}



            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Update User Profile</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/updateUser" id="userUpdateForm"  method="post">
                <div class="p-4">
                    <div class="form-outline mb-4">
                        <label class="form-label" for="editName">Name</label>
                        <input type="text" name="name" id="editName" class="form-control form-control-lg" required />
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="editEmail">Email</label>
                        <input type="email" name="email" id="editEmail" class="form-control form-control-lg" required />
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="editPhone">Phone</label>
                        <input type="number" name="number" id="editPhone" class="form-control form-control-lg"
                            required />
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="editPassword">Password</label>
                        <input type="text" name="password" id="editPassword" class="form-control form-control-lg"
                             />
                    </div>
                    <button class="modal-footer text-center mt-2" type="submit">Update</button>
                </div>
            </form>


        </div>
    </div>
</div>

<script>

    // Get references to the modal form fields

    const editNameField = document.getElementById('editName');
    const editEmailField = document.getElementById('editEmail');
    const editPhoneField = document.getElementById('editPhone');
    const userUpdateForm = document.getElementById("userUpdateForm");

    
    // Get all edit buttons
    const editButtons = document.querySelectorAll('.edit-btn');

    // Attach click event listeners to the edit buttons
    editButtons.forEach(button => {
        button.addEventListener('click', function () {
            const userId = this.getAttribute('data-user-id');
             const formAction = `/admin/updateUser/${userId}`; 
            userUpdateForm.setAttribute("action", formAction);
            // Fetch user data from the server
            fetch(`/admin/users/${userId}`)
                .then(response => {

                    if (!response.ok) {
                        throw new Error(`fetch error: ${response.status}`);
                    }
                    return response.json();
                })
                .then(userData => {

                    // Populate the form fields with user data
                    editNameField.value = userData.name;
                    editEmailField.value = userData.email;
                    editPhoneField.value = userData.number;
                    
                })
                .catch(error => {
                    console.error('Fetch error:', error);
                });
        });
    });

</script>